@font-face {
  font-family: Cairo-Bold;
  src: local('Cairo'), url(@/assets/fonts/Cairo-Bold.ttf) format('truetype');
}

@font-face {
  font-family: Cairo-Light;
  src: local('Cairo'), url(@/assets/fonts/Cairo-Light.ttf) format('truetype');
}

@font-face {
  font-family: Cairo-SemiBold;
  src: local('Cairo'), url(@/assets/fonts/Cairo-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: Cairo-Regular;
  src: local('Cairo'), url(@/assets/fonts/Cairo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Cairo-Medium;
  src: local('Cairo'), url(@/assets/fonts/Cairo-Medium.ttf) format('truetype');
}

@font-face {
  font-family: Cairo-ExtraBold;
  src: local('Cairo'),
    url(@/assets/fonts/Cairo-ExtraBold.ttf) format('truetype');
}

* {
  transition: background 0.4s linear, color 0.4s linear;
}

a {
  text-decoration: none !important;
}

body::-webkit-scrollbar {
  inline-size: 11px;
}

body::-webkit-scrollbar-track {
  background: rgb(231, 231, 231); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px; /* roundness of the scroll thumb */
  background: linear-gradient(90deg, #157d99 0%, #70a1e5 100%) !important;
  block-size: 50px;

  /* border: 3px solid orange;  creates padding around scroll thumb */
}

.mainHeading {
  color: #000;
  font-family: Cairo !important;
  font-family: Cairo-Bold;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 89.95px;
  text-align: center;
}

.subtitle {
  color: #000;
  font-family: Cairo-Bold;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 67.46px;
  text-align: center;
}

.mainPargraph {
  color: #000;
  font-family: Cairo-Medium;
  font-size: 20px;
  font-weight: 500;
  line-height: 37.48px;
  margin-block-end: 33px;
  text-align: center;
}

.mainButton {
  border-radius: 24px;
  background: linear-gradient(142.84deg, #157d99 0%, #70a1e5 100%);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  gap: 10px;
  padding-block: 14px;
  padding-inline: 42px;
  text-align: center;
}

.layout-horizontal-nav {
  .horizontal-nav-content-container {
    display: flex;
    align-items: center;

    .nav-link {
      color: #000 !important;
      font-size: 16px;
      font-weight: 500 !important;
      line-height: 29.98px;
    }

    .router-link-active {
      color: #157d99 !important;
      font-size: 16px;
      font-weight: 500 !important;
      line-height: 29.98px;
    }
  }
}

.layout-navbar-and-nav-container {
  border-radius: 50px;
  margin: auto;
  block-size: 79px;
  inline-size: 90%;
  margin-block-end: 50px;
  margin-block-start: 20px;
  padding-block-start: 5px;
  padding-inline-start: 55px;
}

.layout-navbar {
  border: none !important;
}

.layout-vertical-nav {
  display: none !important;
}

.iconDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  block-size: 64px;
  inline-size: 64px;
}

body {
  font-family: Cairo !important;
}

.v-theme--light {
  background: none !important;
}

.layout-page-content {
  padding: 0 !important;
  margin: 0 !important;
}

@media (min-width: 1280px) {
  .v-container {
    max-inline-size: 1371px;
  }
}
